{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"/ui/",
		"<THIRD_PARTY_MODULES>",
		"/hooks/",
		"/screens/",
		"/components/",
		"^../(.*)",
		"^./(.*)",
		"/module.scss/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
