@import 'src/styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100%;

	.content {
        display: flex;
        align-items: center;
        flex-direction: column;
		margin-bottom: 70px;
		max-width: 300px;

		h2 {
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%;
		}

		h1 {
			text-align: center;
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 100%;
			letter-spacing: 5.12px;
		}
		p {
            color: #BDBDBD;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%;
            margin-bottom: 40px;
		}


	}
}
