@import 'src/styles/variables';

@mixin h1Title {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
@mixin textTitle {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2;
}
