@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');


$bgGlobal: #062029;
$colorText: #fff50a;
$white: #fff;
$gray: #bdbdbd;
$default-font: 'Open Sans', sans-serif;
$purple: #616AEE;
$font-family: Poppins;

$mobile: 480px;

