@import 'src/styles/variables.scss';

.btn {
	padding: 11px 59px;
	background-color: $colorText;
	color: $bgGlobal;
	border-radius: 20px;

	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
    transition: all .2s ease-in-out;

    &:hover{
        background-color: $purple;
    }
}
