@import 'src/styles/variables.scss';

.wrapper {
	width: 100%;
	margin-bottom: 20px;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.link {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			transition: all 0.3 ease-in-out;
			// border-bottom: 3px transparent solid;
			position: relative;
			&.active {
				position: relative;

				
				&::after{
					content: '';
					position: absolute;
					left: 0;
					bottom: -10px;
					width: 100%;
					height: 3px;
					background: $colorText;
					border-radius: 5px;

				}
			}
			.text {
				font-size: 17px;
				font-style: normal;
				font-weight: 700;
			}
		}
	}
}
